/* Headers: font-family: 'Libre Baskerville', serif;  */
/* Body copy: font-family: 'Source Sans Pro', sans-serif; */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
	--bg: white;
	--color-icon: #000000;
	--color-headings: #007BFF;
	--color-text: #000000;
}

html[data-theme='dark'] {
	--bg: #212121;
	--color-icon: white;
	--color-headings: #5091D7;
	--color-text: #BBBBBB;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
	transition: all 750ms;
	transition-delay: 0;
}


body {
  width: 100%;
  min-width: 320px;
  overflow-x: hidden;
  font-size: 62.5%;
  color: #0c0c0c;
  background-color: var(--bg);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
  font-weight: 400;
  color: var(--color-text);
}


h2, h3 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 34px;
  color: var(--color-text);
}

h4,
h5,
h6 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.05rem;
}

p {
  color: var(--color-text);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.ivory-is h2 {
  font-size: 1.4rem;
}

.ivory-is__name {
  color: var(--color-headings);
  font-weight: 700;
}

small {
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

label {
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: #0c0c0c;
  padding-bottom: 0.25rem;
}

label span {
  display: inline-block;
  padding-right: 0.5rem;
}

a {
  position: relative;
  color: var(--color-headings);
  text-decoration: none;
  padding-bottom: 1px;
  background-image: linear-gradient(transparent calc(100% - 1px), var(--color-headings) 1px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: color 300ms, background-size 300ms;
}

a:hover {
  color: var(--color-headings);
  background-image: linear-gradient(transparent calc(100% - 1px), var(--color-headings) 1px);
  background-size: 100% 100%;
}

p span,
a span {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.05rem;
  color: var(--color-text);
}

.container {
  display: block;
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.site-header-toggle .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 1rem;
}

span.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
  padding-left: 10px;
}

@keyframes wave-animation {
    0% { transform: rotate(  0.0deg) }
   10% { transform: rotate(-10.0deg) }
   20% { transform: rotate( 12.0deg) }
   30% { transform: rotate(-10.0deg) }
   40% { transform: rotate(  9.0deg) }
   50% { transform: rotate(  0.0deg) }
  100% { transform: rotate(  0.0deg) }
}

input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: grey;
	float: right;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--color-headings);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}

.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4rem;
}

.site-header a {
  display: block;
  color: #0c0c0c;
  font-size: 1.25rem;
}

.site-header a:last-child {
  margin-top: 2px;
}

.ivory-is {
  padding-top: 2rem;
}

.icons {
  padding: 10px 0;
}

.icons a {
  font-size: 24px;
}

.icons a:hover {
  opacity: 0.5;
  background-size: 0;
}

.fa-sun,
.fa-moon {
  font-size: 30px;
  color: cornflowerblue;
}

.fa-sun {
  margin-right: 10px;
}

.fa-moon {
  margin-left: 10px;
}

.folio__header {
  font-size: 1.3rem;
  line-height: 0;
}

.folio__header--project {
  font-weight: 700;
  color: var(--color-text);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  padding-top: 1rem;
  padding-bottom: .5rem;
}

.work header .see-project {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
}

.device-frame {
  position: relative;
  border: 6px solid #eee;
  width: 100%;
  margin-bottom: 2rem;
  overflow: hidden;
}

.device-frame header {
  background-color: #ccc;
  padding: 5px 0 5px 2px;
  position: relative;
  display: flex;
}

.device-frame header span {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 3px;
}

.device-frame_mobile {
  width: 100%;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.learning-list {
  padding-bottom: 5rem;
}

.learning-list:last-child {
  padding-bottom: 0;
}

.dot {
  display: block;
  background: var(--color-headings);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.site-footer .dot {
  margin: 0 auto;
}

.site-nav .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.site-nav .container div:last-child {
  text-align: right;
}

.site-nav .container a {
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.site-nav .container a span {
  display: block;
  padding-bottom: 0.5rem;
}

.wrp {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.site-header-home {
  width: 100%;
}

.project-header p span {
  color: var(--color-text);
}

@media (min-width: 414px) {
  p span,
  a span {
    display: inline-block;
    padding-left: 0.025rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 42px;
    padding-bottom: 20px;
  }

  .ivory-is p {
    width: 60%;
  }

  .editorial-work small {
    width: 40%;
  }

  .about p {
    width: 60%;
  }

  .project-header p {
    width: 60%;
  }

  .project-header p span {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {

  p, .folio__header--project { 
    font-size: 1.5rem;
  }

  h2, .ivory-is h2, h3 {
    font-size: 2rem;
    line-height: 44px;
  }

  .folio__header {
    font-size: 2rem;
    line-height: 0;
    margin-bottom: 15px;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .flex-4 .device-frame_mobile {
    width: calc(25% - 1rem);;
    flex-shrink: 0;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
}

