* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font-family: "Open Sans", sans-serif; 
  width: 100%;
  min-width: 320px;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 62.5%;
  color: #0c0c0c;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%
}

img {
  display: block;
  width: 100%;
  max-width: 100%
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  padding-top: .5rem;
  padding-bottom: .5rem
}

section {
  min-height: 400px;
  padding: 6% 0;
  background-color: #d3d3d3;
}

footer {
  padding: 1% 0;
  background-color: #a8a8a8;
}

.content-border {
  background: black;
  height: 75px;
}

.content-border p {
  color: white;
}

section:nth-child(even) {
  background-color: #7e7e7e;
}

header {
  padding: 5% 0;
}

.ivory-is p {
  font-size: 1.5rem
}
p {
  text-align: center;
}

.container {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 1rem;
  padding-top: 1rem
}

.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4rem
}

.ivory-is {
  padding-top: 2rem
}

.device-frame {
  position: relative;
  border: 6px solid #eee;
  width: 100%;
  margin-bottom: 2rem;
  overflow: hidden
}

.device-frame header {
  background-color: #ccc;
  padding: 5px 0 5px 2px;
  position: relative;
  display: flex
}

.device-frame_mobile {
  width: 100%;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden
}

.site-nav .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem
}

.site-nav .container div:last-child {
  text-align: right
}

.site-nav .container a {
  font-size: 1rem
}

.site-nav .container a span {
  display: block;
  padding-bottom: 0.5rem
}


@media (min-width: 1200px) {
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start
  }
  .flex-3 .device-frame_mobile {
    width: calc(33.333% - 1rem);
    flex-shrink: 0;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%
  }
  .flex-2 .device-frame_mobile {
    width: calc(33.333% - 1rem);
    flex-shrink: 0;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%
  }
}